ion-content {

}

.card-header {
    flex-direction: row;
    flex-wrap: wrap;
}

.card-header-text {
    
}

.card-icon {
    flex: 0 auto;
    float: left;
}

.card-header-text {
    align-items: flex start;
    flex-direction: column;
    flex: 1 auto;
    flex: right;
}

.card-detail {
    clear: both;
    flex: 1 auto;
}

.detail-title {
    color: #ad2200;
}