<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <ion-slides class="slide-gallary" loop autoplay="5000">
        <ion-slide *ngFor="let slide of gallary">
            <img [src]="slide.image" />
        </ion-slide>
    </ion-slides>
    
    <h6 class="title-update">Upcoming Events</h6>
        
    <ion-slides class="slide-update" pager loop
                paginationType="progress" direction="vertical" slidesPerView="3">
        <ion-slide *ngFor="let slide of event_updates">
            <p class="content-update" [innerHTML]="slide.title"></p>
        </ion-slide>
    </ion-slides>
    
    <h6 class="title-update">New Working Opportunities</h6>

    <ion-slides class="slide-update" pager loop 
                paginationType="progress" direction="vertical" slidesPerView="3">
        <ion-slide *ngFor="let slide of career_updates">
            <p class="content-update" [innerHTML]="slide.title"></p>
        </ion-slide>
    </ion-slides>
</ion-content>
