page-home {
    
}

.slide-gallary {
    height: 40%;
}

.slide-update {
    height: 20%;
    width: 80%;
    position: relative;
    left: 30px;
}

.title-update {
    margin-left: 20px;
}

.content-update {
    font-size: 14px; 
}