page-contacts {

}

ion-grid {
    padding: 2px;
}

ion-col {
    display: flex;
}

ion-img {
    width: 126px;
    height: 156.6px;
}

.contact-name {
    font-size: 16px;
    margin: 14px 10px 6px 10px;
}

.contact-title {
    font-size: 12px;
    font-style: italic;
    margin: 6px 10px 10px 10px;
}